@charset "utf-8";
/* CSS Document */

/* color and font for headings and footer */
h1, h2, h3, h4, footer, header{
	color:#114aa6;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

/* color and font for paragraph and list */
p, ol, form {font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: #114aa6;
	font-weight: bold;
}

/* setting for top navigation/header */
.topnav {
  	overflow: hidden;
	padding: 1% 2% .5% 3%;
	border-bottom-style: solid;
	border-bottom-color: black;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color:#114aa6;
	  }
.topnav a {
  float: right;
  display: block;
  color: #114aa6;
  text-align: center;
  padding: 2% 1%;
  text-decoration: none;
  font-size:2vw;
}
.topnav a:hover {
  background-color: #D6F5D6;
  color: #114aa6;
}
.topnav a.active {
  background-color: #114aa6;
  color: white;
  border-radius: 10%;
}

/* radio button & label appearance */
.radio-button input[type="radio"] {
        }      
      .radio-button label {
        display: inline-block;
         padding: .25%;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
        font-size: 100%;
		  color: #114aa6;
        cursor: pointer;
      }      
      
/* content containers */
 .quiz_container{
	position:absolute;
	height: auto;
	width: 50%;
	padding: 0% 5%;
}

.img_container{
	height: auto;
	width: 30%;
	float: right;
	padding-top: 4%;
	padding-left:0%;
	padding-right:10%;
}

